<launch>
    
    <node pkg="orb_slam2_ros"  type="Mono"  name="orb_slam2_ros" 
          args="$(find orb_slam2_lib)/Vocabulary/ORBvoc.bin $(find orb_slam2_ros)/settings/raspicam_mono.yaml" 
          cwd="node"   output="screen">
 
          <rosparam command="load" file="$(find orb_slam2_ros)/settings/orb_slam2_param.yaml" />
    
    </node>

</launch>

